<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Welcome to the Soccer Database</h1>

  <form method="GET" action="/pg2reset">
    <p><input type="submit" value="Reset"></p>
  </form>

  <h2>Clubs and Managers</h2>
  <div>
    <table>
    <tr>
      <div>
      <td><b>Club Name</b></td>
      <td><b>Country</b></td>
      <td><b>Domestic Titles</b></td>
      <td><b>Manager</b></td>
      <td><b>DOB</b></td>
      <td><b>Nationality</b></td>
      <td><b>Managing Since</b></td>
      </div>
  	</tr>
  	{% for item in data %}
      <tr>
        <div>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        </div>
      </tr>
      {% endfor %}
    </table>
  </div>



  <h2>Tournaments</h2>
  <div>
    <table>
    <tr>
      <div>
      <td><b>Tournament Name</b></td>
      <td><b>Size</b></td>
      </div>
  	</tr>
  	{% for item in data2 %}
      <tr>
        <div>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        </div>
      </tr>
      {% endfor %}
    </table>
  </div>

  <h2>Participating Teams</h2>

  <div>
    <table>
    <tr>
      <div>
      <td><b>Club Name</b></td>
      <td><b>Tournament Name</b></td>
      <td><b>Wins</b></td>
      </div>
  	</tr>
  	{% for item in data3 %}
      <tr>
        <div>
        <td>{{item[2]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[0]}}</td>
        </div>
      </tr>
      {% endfor %}
    </table>
  </div>

	<p><a href="nationalteams">National Teams</a></p>
  	<p><a href="/">Main Page</a></p>

</body>

</html>


