<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Welcome to the Soccer Database</h1>

  <form method="GET" action="/reset">
    <p><input type="submit" value="Reset"></p>
  </form>

  <h2>Players</h2>

  <form method="GET" action="/playerfilter">
  <p><input type="submit" value="Filter"></p>
  

 
  <div>
    <table>
    <tr>
      <div>
      <td><b>Name</b></td>
      <td><b>Nationality</b></td>
      <td><b>Date of Birth</b></td>
      <td><b>Height (m)</b></td>
      <td><b>Weight (lb)</b></td>
      <td><b>Caps</b></td>
      </div>
    </tr>
    <tr>
      <div>
      <td></td>
      <td></td>
      <td></td>
      <td><select name="heightop"><option value="Greater">Greater</option><option value="Less">Less</option></select>
        <input type="text" name="height"></td>
      <td><select name="weightop"><option value="Greater">Greater</option><option value="Less">Less</option></select>
        <input type="text" name="weight"></td>
      <td><select name="capsop"><option value="Greater">Greater</option><option value="Less">Less</option></select>
        <input type="text" name="caps"></td>  
          </form>
      </div>
    </tr>
      {% for item in data %}
      <tr>
        <div>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        </div>
      </tr>
      {% endfor %}
    </table>
  </div>

  <h2>Club Played For<h2>

   <form method="GET" action="/playsforfilter">
  <p><input type="submit" value="Filter"></p>
  

  <div>
  <table>
    <tr>
      <div>
      <td><b>Name</b></td>
      <td><b>Club</b></td>
      <td><b>From</b></td>
      <td><b>To</b></td>
      <td><b>Contract Type</b></td>
      </div>
    </tr>
    <tr>
      <div>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><select name = "contracttype"><option value="Owned">Owned</option><option value="Loan">Loan</option></select></td>
          </form>
      </div>
    </tr>
    {% for item in data2 %}
      <tr>
        <div>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        </div>
      </tr>
      {% endfor %}
  </table>


  <p><a href="clubsmanagerstournaments">Clubs, Managers and Tournaments</a></p>
  <p><a href="nationalteams">National Teams</a></p>
<!--
  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>
-->
</body>


</html>
